# GitHub CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-codeowners

# Default owners for all files
*       @pbrane

# CI/CD and GitHub configuration
.github/workflows/  @pbrane
.github/dependabot.yml @pbrane

# Core build system
pom.xml     @pbrane
Makefile    @pbrane
mvnw        @pbrane

# Deployment and Orchestration
deploy/             @pbrane
container/          @pbrane
